<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruh.food">

	
	
	<insert id="s" parameterType="Map">
		INSERT INTO FOOD 
		VALUES(FOOD_SEQ.nextval,#{id},#{foodname},#{spicy},#{salty},#{sour},#{sweet},#{hot},#{cold},#{category})
	</insert>
	
	<select id="returnfood" parameterType="map" resultType="foodDto">
			SELECT * FROM (SELECT * FROM FOOD WHERE ID=#{id} AND FOODNAME=#{foodname} ) WHERE ROWNUM=1
	</select>
	
</mapper>








