<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruh.review">

	<insert id="review" parameterType="reviewDto">
		INSERT INTO REVIEW 
		VALUES(RUH_SEQ.nextval,#{category},#{title},#{id},#{content},SYSDATE)
	</insert>
	
	<select id="reviewboard"  resultType="reviewDto">
		SELECT SEQ ,CATEGORY ,TITLE ,ID ,CONTENT ,REGDATE 
		FROM REVIEW
	</select>

	<select id="getboard" parameterType="int" resultType="reviewDto">
		SELECT SEQ, CATEGORY, TITLE, ID, CONTENT, REGDATE
		FROM REVIEW
		WHERE SEQ=#{seq}
	</select>

</mapper>








